*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Poppins";
}

h1{
    text-align: center;
    color: #EE3C7C;
    background-color: rgb(28, 28, 28);
}

main{
    margin-left: 15px;
    margin-right: 15px;
}

p{
    background-color: #EE3C7C;
    padding: 10px;
    margin: 10px;
}



.navbar ul{
    list-style-type: none;
    background-color: rgb(28, 28, 28);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(58, 58, 58);
}

.navbar li{
    float: left;
}
/*Image Gallery Slider*/

.slider{
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 100%;
    display: none;
    max-width: 100%;
}

img.displaySlide{
    display: block;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:gray;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    opacity: 0.8;
}

.slider button:hover {
    opacity: 1;
}

.previous{
    left: 0;
}

.next{
    right: 0;
}
