h1{
    text-align: center;
}

.navbar ul{
    list-style-type: none;
}

/*Image Gallery Slider*/

.slider{
    position: relative;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 100%;
    display: none;
    max-width: 100%;
}

img.displaySlide{
    display: block;
}

.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color:gray;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    padding: 10px 15px;
    opacity: 0.8;
}

.slider button:hover {
    opacity: 1;
}

.previous{
    left: 0;
}

.next{
    right: 0;
}
